#container {
    width: 960px;
    margin: 0px auto;
}

h2 {
    color: #4aaaa5;
    font-weight: bold;
}

#left-column {
    width: 700px;
    float: left;
    background: rgb(218, 218, 218);
}

#right-column {
    width: 260px;
    float: left;
    background: rgb(143, 143, 143);
    text-align: center;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #777676;
    text-align: center;
    color: #4aaaa5;
}

@media screen and (min-width:1000px) {
    #container {
        width: 100%;
    }
    #left-column {
        width: 70%;
    }
    #right-column {
        width: 30%;
    }
}

@media screen and (max-width:959px) {
    #container {
        width: 100%;
    }
    #left-column {
        width: 70%;
    }
    #right-column {
        width: 30%;
    }
}

@media screen and (max-width:768px) {
    #container {
        width: 100%;
    }
    #left-column {
        width: 70%;
    }
    #right-column {
        width: 30%;
    }
}

@media screen and (max-width:640px) {
    #container {
        width: 100%;
    }
    #left-column {
        width: 100%;
    }
    #right-column {
        width: 100%;
    }
}

@media screen and (max-width:320px) {
    #container {
        width: 100%;
    }
    #left-column {
        width: 100%;
    }
    #right-column {
        width: 100%;
    }
}